.navbar {
  background-color: lightslategrey;
  padding: 10px;
}

.logo {
  color: crimson;
}

h3 {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
}

.contact {
  display: inline;
  float: right;
  margin: 0;
  padding: 8px;
  background-color: chocolate;
  color: white;
  border: chocolate;
  border-radius: 12px;
  justify-content: center;
}
